body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header, footer {
    padding-bottom: 5px;
    font-family: 'Kaushan Script', cursive, sans-serif;
}

.card {
    box-shadow: 5px 5px 5px rgb(122, 120, 120);
    border-radius: 3%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.btn {
    background-color: rgb(52, 51, 51);
    border: none;
    box-shadow: 5px 5px 5px rgb(122, 120, 120);
    
}

.btn:hover {
    background-color: rgb(195, 195, 195);
    color: rgb(52, 51, 51);
    transform: scale(1.1);
    transition: transform .4s;
}

.card-img-top:hover {
    transform: scale(1.1);
    transition: transform .4s;
    border-radius: 9%;

}

.carousel-inner {
    border-radius: 2%;
}
